*{
    overflow: hidden;
}

body {
    margin: 0;


    height: 100lvh;
    

    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    margin-left: 8px;
    line-height: 1.22em;
}

.screen {
    position: absolute;

    width: 100vw;
    height: 100vh;

}

.content {
    position: absolute;

    top:15vh;

    width: 100vw;
    height: 70vh;

}

.top-buttons {
    text-align: right;
    position: absolute;

    top: calc(min(10vw, 5vh));

    right: 5vw;

    width: 100vw;
    height: 25vh;

}

@media (max-width:700px) {
    .top-buttons {
        width: 100px;
    }
}

.logo {
    display: inline;
}

@keyframes fade {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.8;
    }
}

.swipe-arrow-down {
    position: absolute;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);

    border-bottom: 2px solid white;
    border-right: 2px solid white;

    bottom: 12vh;
    left: calc(50vw - 15px);

    cursor: pointer;

    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#container-logo {
    position: relative;

    top: 30px;
    padding-left: 5vw;

    font-weight: 700;
    font-size: calc(min(16vw, 110px));

}

#categories-text {
    position: relative;
    display: inline;
    opacity: 0;

    top: 0px;
}

#background-canvas {
    position: fixed;
    top: 0;
    left: 0;

    z-index: -2;

    filter: blur(14px);
}