body {
    margin: 0;


    height: 100%;
    overflow-y: hidden;


    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
    margin-left: 8px;
    line-height: 1.2em;
}

.screen {
    width: 100vw;
    height: 100vh;

    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.top-buttons {
    text-align: right;
    position: absolute;

    top: calc(min(10vw, 5vh));

    right: 5vw;

    width: 100vw;
    height: 25vh;

}

@media (max-width:700px) {
    .top-buttons {
        width: 100px;
    }
}

.logo {
    display: inline;
}

@keyframes fade {
    0% {
        opacity: 0.8;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.8;
    }
}

.swipe-arrow-down {
    position: absolute;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);

    border-bottom: 2px solid white;
    border-right: 2px solid white;

    bottom: 5vh;
    left: calc(50vw - 15px);

    cursor: pointer;

    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

#container-logo {
    position: relative;

    top: 30px;
    padding-left: 5vw;

    font-weight: 700;
    font-size: calc(min(16vw, 110px));

}

#categories-text {
    position: relative;
    display: inline;
    opacity: 0;

    top: 0px;
}

.articles-container {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    height: 2500px;

}

@media screen and (max-width: 900px) {
    .articles-container {
        flex-direction: column;
    }

}

article {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    box-shadow: 2px 2px 5px black;
    width: 20%;
    margin: auto;


}

img {
    max-width: -webkit-fill-available;
    border-radius: 10px;
}

h1 {
    font-size: 28px;
}

p {
    line-height: 1.3;
    word-spacing: 1.3px;
    font-size: 21px;

}

#background-canvas {
    position: absolute;
    top: 0;
    left: 0;

    z-index: -1;

    filter: blur(14px);
}